.breeze-grid .headers .placeholder{
	border-left : 1px solid #D0D0D0;
	width : 17px;
	height : 100%;
	position : absolute;
	bottom : 0;
	right : 0;
}
.breeze-grid .contents .placeholder{
	z-index : 1;
	position : absolute;
	right : 0;
	bottom : 0;
	overflow : hidden;
	width : 17px;
	height : 17px;
	background-color : #F1F1F1;
}
.breeze-grid .contents .y-scroller{
	z-index : 1;
	position : absolute;
	top : 0;
	right : 0;
	width : 17px;
	height : 100%;
	overflow : hidden;
	display : none;
	background : transparent url(images/grid-vscroll.bmp) repeat 100% 0;
}
.breeze-grid .contents .y-scroller div{
	overflow : hidden;
}
.breeze-grid .contents .y-scroller .top{
	position : absolute;
	top : 0;
	right : 1px;
	width : 16px;
	height : 16px;
	background : url(images/grid-vscroll.bmp) ;	
}
.breeze-grid .contents .y-scroller .top:hover{
	background : url(images/grid-vscroll.bmp) repeat -16px 0;	
}
.breeze-grid .contents .y-scroller .bottom{
	position : absolute;
	bottom : 0px;
	right : 1px;
	width : 16px;
	height : 16px;
	background : url(images/grid-vscroll.bmp) repeat 0 16px;	
}
.breeze-grid .contents .y-scroller .bottom:hover{
	background : url(images/grid-vscroll.bmp) repeat -16px 100%;	
}
.breeze-grid .contents .y-scroller .bar{
	position : absolute;
	top : 16px;
	width : 17px;
	height : 17px;
	background : url(images/grid-vscroll.bmp) repeat -96px 0;	
}
.breeze-grid .contents .y-scroller .bar:hover{
	background : url(images/grid-vscroll.bmp) repeat -112px 0;	
}
.breeze-grid .contents .y-scroller .bar .bar-up{
	width : 17px;
	height : 3px;
	top : 0;
	position : absolute;
	background : url(images/grid-vscroll.bmp) repeat -32px 1px;	
}
.breeze-grid .contents .y-scroller .bar:hover .bar-up{
	background : url(images/grid-vscroll.bmp) repeat -48px 1px;
}
.breeze-grid .contents .y-scroller .bar .bar-down{
	width : 17px;
	height : 3px;
	bottom : 0;
	position : absolute;
	background : url(images/grid-vscroll.bmp) repeat -32px -29px;	
}
.breeze-grid .contents .y-scroller .bar:hover .bar-down{
	background : url(images/grid-vscroll.bmp) repeat -48px -29px;	
}
.breeze-grid .contents .y-scroller .bar .bar-tumble{
	width : 17px;
	height : 9px;
	top : 50%;
	margin-top : -4.5px;
	position : absolute;
	background : url(images/grid-vscroll.bmp) repeat -64px 0;
}
.breeze-grid .contents .y-scroller .bar:hover .bar-tumble{
	background : url(images/grid-vscroll.bmp) repeat -80px 0;
}
.breeze-grid .contents .x-scroller{
	z-index : 1;
	position : absolute;
	bottom : 0;
	left : 0;
	width : 100%;
	height : 17px;
	overflow : hidden;
	display : none;
	background : transparent url(images/grid-hscroll.bmp) repeat 0 100%;
}
.breeze-grid .contents .x-scroller div{
	overflow : hidden;
}
.breeze-grid .contents .x-scroller .left{
	position : absolute;
	left : 0;
	bottom : 1px;
	width : 16px;
	height : 16px;
	background : url(images/grid-hscroll.bmp) 0 0;
}
.breeze-grid .contents .x-scroller .left:hover{
	background : url(images/grid-hscroll.bmp) 0 -16px;
}
.breeze-grid .contents .x-scroller .right{
	position : absolute;
	right : 0;
	bottom : 1px;
	width : 16px;
	height : 16px;
	background : url(images/grid-hscroll.bmp) repeat -16px 0;
}
.breeze-grid .contents .x-scroller .right:hover{
	background : url(images/grid-hscroll.bmp) repeat -16px -16px;
}
.breeze-grid .contents .x-scroller .bar{
	position : absolute;
	left : 16px;
	bottom : 0;
	width : 16px;
	height : 17px;
	background : url(images/grid-hscroll.bmp) repeat 0 -96px;
}
.breeze-grid .contents .x-scroller .bar:hover{
	background : url(images/grid-hscroll.bmp) repeat 0 -112px;
}
.breeze-grid .contents .x-scroller .bar .bar-up{
	width : 3px;
	height : 17px;
	right : 0;
	position : absolute;
	background : url(images/grid-hscroll.bmp) repeat -30px -32px;	
}
.breeze-grid .contents .x-scroller .bar:hover .bar-up{
	background : url(images/grid-hscroll.bmp) repeat -30px -48px;	
}
.breeze-grid .contents .x-scroller .bar .bar-down{
	width : 3px;
	height : 17px;
	left : 0;
	position : absolute;
	background : url(images/grid-hscroll.bmp) repeat 0 -32px;
}
.breeze-grid .contents .x-scroller .bar:hover .bar-down{
	background : url(images/grid-hscroll.bmp) repeat 0 -48px;
}
.breeze-grid .contents .x-scroller .bar .bar-tumble{
	width : 9px;
	height : 17px;
	left : 50%;
	margin-left : -4.5px;
	position : absolute;
	background : url(images/grid-hscroll.bmp) repeat 100% -64px;
}
.breeze-grid .contents .x-scroller .bar:hover .bar-tumble{
	background : url(images/grid-hscroll.bmp) repeat 100% -80px;
}