.breeze-grid .toolbar{
	z-index : 3;
	position : relative;
	height : 25px;
	border-bottom : 1px solid #99bbe8;
	background : url(images/grid-toolbar-bg.gif);
}
.breeze-grid .toolbar .menu-btn{
	width : 95px;
	height : 20px;
	line-height : 20px;
	text-align : center;
	font-size : 11px;
	font-weight : bold;
	cursor : pointer;
	color : #FFF;
	margin-left : 1px;
	background : url(images/grid-toolbar-btn.gif);
}
.breeze-grid .toolbar .query{
	position : absolute;
	right : 2px;
	top : 1.5px;
	background: url("images/grid-toolbar-searchbox.png") no-repeat scroll 0 0 transparent;
	height: 14px;
	padding: 4px 11px 11px 22px;
	text-align: left;
	width: 119px;
}
.breeze-grid .toolbar .query input{
	width: 119px;
	height : 14px;
	margin : 0;
	padding : 0;
	border : 0;
}
.breeze-grid .toolbar .dropmenu{
	position : absolute;
	left : 0;
	top : 22px;
}